body {
	background-color: #FDA172;
	background-image: url("../image/turkey_background_2.png");
	background-size: contain;
	background-repeat: no-repeat; /* this I had google as my background repeated*/	
	background-position: center;
	background-attachment: fixed;
	font-family: "Inconsolata", monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
	
}

#content {
	background: #ED7117;
	border-radius: 25px;
	padding: 20px;
	width: 80vw;
	height: 50vh;
}

#heading {
	font-size: 2.5em;
	text-align: center;
	top: 20px;
	margin: 0;
}

h2 {
	font-size: 2em;
	text-align: center;
	margin: 20px;
}

p {
	font-size: 1.25em;
	background-color: #FDA172;
	border-radius: 20px;
	margin: 10px;
	padding: 10px 20px;
}

#form-heading {
	font-size: 2em;
	text-align: center;
	margin: 20px;
}