body {
	background-color: #FDA172;
	background-image: url("../image/turkey_background_2.png");
	background-size: contain;
	background-repeat: no-repeat; /* this I had google as my background repeated*/	
	background-position: center;
	background-attachment: fixed;
	font-family: "Inconsolata", monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	
}

#content {
	background: #ED7117;
	border-radius: 25px;
	padding: 20px;
	width: 60vw;
	min-height: 50vh;
	max-height: 80vh;
}

#heading {
	font-size: 2.5em;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2 {
	font-size: 2em;
	text-align: center;
	margin: 20px;
}

p {
	font-size: 1em;
	background-color: #FDA172;
	border-radius: 20px;
	margin: 10px;
	padding: 10px 20px;
}

#form-heading {
	font-size: 2em;
	text-align: center;
	margin: 5px;
}

#split {
	background-color: #FDA172;
	border-radius: 20px;
}

li {
	margin-bottom: 10px;
	font-size: 1.1em
}

label {
	display: block;
	text-align: left;
	padding:  10px 5px;
}

input[type="text"], input[type="email"], input[type="radio"], input[type="date"], input[type="tel"] {
	width: 80%;
	border-radius: 10px;
	margin-top: 5px;
	padding: 10px;
	font-size: 1em;
}